.v-application .primary {
    background-color: #1867c0 !important;
    border-color: #1867c0 !important;
}

.v-application .primary--text {
    color: #1867c0 !important;
    caret-color: #1867c0 !important;
}

.v-application .secondary {
    background-color: #5cbbf6 !important;
    border-color: #5cbbf6 !important;
}

.v-application .secondary--text {
    color: #5cbbf6 !important;
    caret-color: #5cbbf6 !important;
}

.v-application .accent {
    background-color: #005caf !important;
    border-color: #005caf !important;
}

.v-application .accent--text {
    color: #005caf !important;
    caret-color: #005caf !important;
}

.v-application .error {
    background-color: #ff5252 !important;
    border-color: #ff5252 !important;
}

.v-application .error--text {
    color: #ff5252 !important;
    caret-color: #ff5252 !important;
}

.v-application .info {
    background-color: #2196f3 !important;
    border-color: #2196f3 !important;
}

.v-application .info--text {
    color: #2196f3 !important;
    caret-color: #2196f3 !important;
}

.v-application .success {
    background-color: #4caf50 !important;
    border-color: #4caf50 !important;
}

.v-application .success--text {
    color: #4caf50 !important;
    caret-color: #4caf50 !important;
}

.v-application .warning {
    background-color: #fb8c00 !important;
    border-color: #fb8c00 !important;
}

.v-application .warning--text {
    color: #fb8c00 !important;
    caret-color: #fb8c00 !important;
}

.v-application .tertiary {
    background-color: #e57373 !important;
    border-color: #e57373 !important;
}

.v-application .tertiary--text {
    color: #e57373 !important;
    caret-color: #e57373 !important;
}